<!-- FOOTER -->
<section class="fp-section fp-auto-height">
  <footer class="section bg-dark">

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!--Content -->
      <div class="container">
          <div class="row align-items-center">
              <div class="col-auto">
                  <!-- Brand -->
                  <a class="footer-brand text-white d-flex align-items-center">
                      <img src="assets/img/gemstone/Logo/Logo v4.svg" alt="Vibe Lights Logo" class="navbar-brand-svg">
                      <span class="footer-brand-text ml-2"><b>Vibe Lights.</b></span>
                  </a>
              </div>
              <div class="col">
                  <!-- Links -->
                  <ul class="list-unstyled list-inline text-md-right mb-0">
                      <!-- <li class="list-inline-item mr-2">
                          <a href="#" class="text-white">
                              Terms and conditions
                          </a>
                      </li>
                      <li class="list-inline-item mr-2">
                          <a href="#" class="text-white">
                              Privacy policy
                          </a>
                      </li> -->
                      <li class="list-inline-item">
                          <a href="contact.html" class="text-white">
                              Contact us
                          </a>
                      </li>
                  </ul>
              </div>
          </div> <!-- / .row -->

          <div class="row align-items-center">
              <div class="col-md">
                  <!-- Copyright -->
                  <p class="text-white text-muted">
                      <small>
                          &copy; Copyright 2024 
                          <span class="current-year"></span> 
                          VibeLights. All rights reserved.
                      </small>
                  </p>
              </div>
              <div class="col-md">
                  <!-- Social links -->
                  <ul class="list-inline list-unstyled text-md-right">
                      <li class="list-inline-item">
                          <a href="https://www.facebook.com/profile.php?id=61555571187825">
                              <i class="fab fa-facebook"></i>
                          </a>
                      </li>
                      <li class="list-inline-item ml-3">
                          <a href="https://www.instagram.com/litbyvibe/">
                              <i class="fab fa-instagram"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div> <!-- / .row -->
      </div> <!-- / .container -->

  </footer>
</section>
