    <!-- NAVBAR
    ================================================= -->
    <nav class="navbar navbar-expand-xl navbar-light  fixed-top">
        <div class="container">
  
          <!-- Brand -->
          <a class="navbar-brand" href="index.html">
            <svg class="navbar-brand-svg" viewBox="0 0 245 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <img src="assets/img/gemstone/Logo/Logo v4.svg" alt="Vibe Lights Logo" class="navbar-brand-svg">
              <text x="40" y="70" font-family="Arial, sans-serif" font-size="60" font-weight="bold" letter-spacing="-.025em" fill="currentColor"><b>Vibe Lights.</b></text>
            </svg>
          </a>
    
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
  
            <!-- Social -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item-divider">
                <span class="nav-link">
                  <span></span>
                </span>
              </li>
              <li class="nav-item">
                <a href="https://www.facebook.com/profile.php?id=61555571187825" class="nav-link">
                  <i class="fab fa-facebook"></i> 
                  <span class="d-xl-none ml-2">
                    Facebook
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://www.instagram.com/litbyvibe/" class="nav-link">
                  <i class="fab fa-instagram"></i> 
                  <span class="d-xl-none ml-2">
                    Instagram
                  </span>
                </a>
              </li>
            </ul>
  
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLandings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarLandings">
                  <a class="dropdown-item " href="who-we-are.html">
                    Who We Are
                  </a>
                  <a class="dropdown-item " href="what-is-permanent-lighting.html">
                    Permanent Lighting
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarPages">
                  <li>
                    <a class="dropdown-item " href="products.html">
                      All Products
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item " href="products.html#residential-lighting">
                      Residential Lighting
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item " href="products.html#commercial-lighting">
                      Commericial Lighting
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item " href="products.html#landscape-lighting">
                      Landscape Lights
                    </a>
                  </li>
                </ul> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
  
          </div> <!-- / .navbar-collapse -->
    
        </div> <!-- / .container -->    
      </nav>